@page
@model RecipeApp.Pages.Recipe.Direction.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a class="btn btn-primary" asp-page="Create" asp-route-id=@ViewData["id"]>Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Direction[0].StepNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direction[0].Description)
            </th>
           @* <th>
                @Html.DisplayNameFor(model => model.Direction[0].RecipeId)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Direction) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StepNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.RecipeId)
            </td>*@
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
